
.App {
  max-width: 600px;
  margin: 30px auto;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #333;
  background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
}

.App footer {
  font-size: 12px;
  margin: 20px 0;
  color: #666;
}

.container {
  padding: 20px;
}
